<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lcogetpack">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".di.init.ApplicationAppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.ui.activity.tackimage.TakePictureActivity"></activity>
        <activity android:name=".ui.ui.activity.sendcomment.SendCommentsActivity" />
        <activity android:name=".ui.ui.activity.createpost.CreatePostActivity" />
        <activity android:name=".ui.ui.activity.friendsdetails.FriendsDetailsActivity" />
        <activity android:name=".ui.ui.activity.common.CommonActivity" />
        <activity android:name=".ui.ui.activity.forumdetails.ForumDetailsActivity" />
        <activity android:name=".ui.ui.activity.conversation.ConversationActivity" />
        <activity android:name=".ui.ui.activity.dashboard.DashbordActivity" />
        <activity android:name=".ui.ui.activity.registration.RegistarionActivity" />
        <activity android:name=".ui.ui.activity.login.LoginActivity" />
        <activity android:name=".ui.ui.activity.userprofile.ProfileActivity" />
        <activity android:name=".ui.ui.activity.splash.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ui.activity.main.MainActivity" />
    </application>

</manifest>